@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");
/* Using SCSS variables to store breakpoints */
/* Create the mixin (usually in a separate .scss file) */
body {
  background-color: white; }

main {
  display: flex;
  /* or inline-flex */
  flex-direction: column;
  background-color: white;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  font: 100% "Roboto", sans-serif; }
  main header {
    margin-bottom: 2%; }
  main h1 {
    font-size: 32px;
    padding: 2rem;
    font-family: "Montserrat", serif;
  }
  main footer {
    margin-top: 25px; }
  main input:invalid {
    border-color: #be3600; }
  main .required {
    color: #be3600; }
  main .bg_Shade {
    background-color: #f8f8f8; }
    @media only screen and (min-width: 768px) {
      main .bg_Shade {
        display: flex; } }
  main p.text {
    padding-left: 20px; }
  main .error {
    background: darkred;
    color: pink;
    border: 1px solid #be3600;
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    font-size: 12px;
    width: 100%;
    display: block;
    position: relative;
    margin-top: -7px; }
    @media only screen and (min-width: 768px) {
      main .error {
        margin-top: -11px; } }
    @media only screen and (min-width: 1024px) {
      main .error {
        margin-top: -9px; } }
  @media only screen and (min-width: 768px) {
    main .top-row {
      display: flex; } }
  main .top-background {
    padding: 8% 0% 3% 0%; }
  main .bottom-row {
    padding: 3rem 0 0 1rem; }
  main .image-area {
    display: flex;
    background-color: white;
    padding: 3%;
    margin-bottom: 2%; }
    main .image-area .icon {
      padding-right: 25%; }
    main .image-area .icon-text-rt {
      align-items: top; }
    main .image-area .icon-text-lt {
      align-items: center; }
    main .image-area .text {
      display: flex;
      font-size: 18px;
      align-items: center; }
  main .box {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c1c1c1; }
  main .labels {
    display: block;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 16px; }
  main .form-input {
    margin-bottom: 1%;
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    font-size: 18px;
    color: #ddd; }
    main .form-input:hover {
      box-shadow: 0px 0px 4px 1px #54a6d4;
      color: #000; }
  main .form-control {
    position: relative; }
  main select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.2em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none; }
  main .classic {
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + -3px), calc(100% - 15px) calc(1em + -3px), calc(100% - .5em) 0.4em;
    background-size: 5px 5px, 5px 5px, 1.2em 1.2em;
    background-repeat: no-repeat; }
  main .submit {
    border-radius: 5px;
    background: #1b89c6;
    padding: 3px;
    width: 110px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white; }
  @media only screen and (min-width: 768px) {
    main .col1 {
      width: 50%;
      margin-right: 27px; }
    main .col2 {
      width: 50%; }
    main .row-submit {
      display: flex; }
    main input.submit {
      margin-right: 25%; }
    main .col-required {
      font-size: 12px;
      color: #ddd;
      margin-left: 26%;
      margin-top: 2%; }
    main .forms {
      padding: 2% 2% 0 2%; } }
  @media only screen and (min-width: 1024px) {
    main .col {
      width: 50%;
      margin-right: 2%; }
    main .row {
      display: flex;
      padding: 1%; }
    main .msg-lg {
      width: 200%; }
    main .col-left {
      width: 52%;
      margin-right: 27px; }
    main .bottom-text {
      margin-right: 2%; } }
